@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Pizzaria Pazza Pizza</h1>
    <img src="https://pbs.twimg.com/media/FouqXBjWYAAHnUo.jpg:large" alt="">
</div>
