@{
    ViewData["Title"] = "Menù";
}
<h1>@ViewData["Title"]</h1>

<p>Ecco quì il menù della pizza pazza Amogus sus.</p>

<div class="menuContainer">
  <div class="pizzaContainer">
    <h2>Peppa pig</h2>
    <img src="https://i.ytimg.com/vi/x0aAA_37mD8/hqdefault.jpg" alt="Pizza">
    <p>Pizza con impasto di Peppa Pig e forma di Peppa Pig</p>
    <p>Prezzo: 350$</p>
  </div>
  <div class="pizzaContainer">
    <h2>Pizza completa</h2>
    <img src="https://i.kym-cdn.com/photos/images/original/002/166/877/9a7.jpg" alt="Pizza">
    <p>Pizza completa incredibile con tutte le cose migliori da mettere su una pizza</p>
    <p>Prezzo: 19,99$</p>
  </div>
  <div class="pizzaContainer">
    <h2>Pizza Hut</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDaBGy_M1LMEmyrry1BEtGx3V_B-Vzvf7_eA&usqp=CAU" alt="Pizza">
    <p>Pizza mascotte della famosissima marca di Pizza Hut</p>
    <p>Prezzo: 99,98$</p>
  </div>
</div>

